.botIntro {
    background-color: $background-dark;
    background-image: url("../../img/home/codeBG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    h1 {
        font-size: 2em;
    }
    .botImg {
        justify-content: center;
        padding: 2em;
    }
    .squidBotInfo {
        justify-content: center;
        .squidBotDescription {
            text-align: center;
            .squidBotDescriptionText {
                font-size: 1.5em;
                padding: 1em;
            }
        }
        .botFeatures {
            ul {
                li {
                    padding: 1.5em;
                    background-color: $blue;
                    margin: 1em 0px 1em 1em;
                    &:hover {
                        background-color: $blue-light;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and ($desktop) {
    .botIntro {
        flex-direction: row;
        min-height: 100vh;
        .botImg {
            width: 70%;
            padding: 1em;
        }
    }
}