.botIntro {
    background-color: $background-dark;
    color: $white;
    .botImg {
        justify-content: center;
        padding: 1em;
    }
    .squidBotInfo {
        background-color: $blue;
        .squidBotDescription {
            text-align: center;
            .squidBotDescriptionText {
                font-size: 1.5em;
                padding: 1em;
            }
        }
        .botFeatures {
            ul {
                li {
                    padding: 1em;
                    background-color: $background-mediumDark;
                    margin: 1em;
                }
            }
        }
    }
}

@media only screen and ($desktop) {
    .botIntro {
        flex-direction: row;
        .botImg {
            width: 50%;
            padding: 10%;
        }
    }
}