.navbar {
    .mainNav {
        padding: 0.5em 0px;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 0px;
        }
    }
    #logoNavContainer {
        font-size: 2em;
        #logoNav{
            flex-grow: 1;
        }
    }
    .icon {
        margin: 0px 0.5em;
        display: inline-block;
    }
    p {
        display: inline-block;
    }
}

@media only screen and ($desktop) {
    .mainNav {
        flex-direction: row !important;
        li {
            flex-grow: 1;
        }
        .icon-bars {
            display: none;
        }
    }
}