@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
Body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: $text-black;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}