//COLORS
$white: #FFF;
$background-dark: #212121;
$background-mediumDark: #424242;
$blue: #64B5F6;
$text-black: rgba(0, 0, 0, 0.87);
//Media Query
$desktop: "min-width : 1224px";

//Animation
$speedNormal: 300ms;