//COLORS
$white: #FFF;
$background-dark: #212121;
$background-mediumDark: #424242;
$background-app: #eeeeee;
$blue: #81D4FA; //LightBlue 300
$blue-light: #4FC3F7; //Blue 300
$text-black: rgba(0, 0, 0, 0.87);
//Media Query
$desktop: "min-width : 1224px";
//Animation
$speedNormal: 300ms;